# Nuxt auth utils
NUXT_SESSION_PASSWORD=session-password-at-least-32-characters-long

# Google OAuth
NUXT_OAUTH_GOOGLE_CLIENT_ID=dev-google-oauth-client-id-change-me
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=dev-google-oauth-client-secret-change-me

# Seed key for storage keys
NUXT_PUBLIC_SEED_KEY=dev-seed-key-change-me

# S3 configuration
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=shadowcrypt
S3_PUBLIC_URL=http://127.0.0.1:9002/shadowcrypt

NUXT_PUBLIC_S3_PUBLIC_URL=http://127.0.0.1:9002/shadowcrypt

# Mail
RESEND_API_KEY=dev-resend-api-key-change-me

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=login@auth.shadowcrypt.app

# Email nonce pepper
NUXT_AUTH_EMAIL_NONCE_PEPPER=dev-email-nonce-pepper-change-me

# Database URL
NUXT_DATABASE_URL=postgresql://shadowcrypt:zzzz@postgres:5432/shadowcrypt

# Deprectated
NUXT_AUTH_SECRET=dev-nextauth-secret-change-me
NUXT_AUTH_URL=http://localhost:3000
AUTH_SECRET=dev-auth-secret-change-me

# Demo mode
NUXT_DEMO=true
NUXT_DEMO_USER=demo@shadowcrypt.app

# Request seed
REQUEST_SEED=false

# Feature flags (dumb name)
DEBUG_PIXI_CANVAS=false
