/node_modules

/dist
/.vscode

/package-lock.json

.env

# server
/**/node_modules
/**/dist
/server/*.log
/database/backup

/database/functions/pinpc*.json
/database/functions/lib

/secret
.firebase