.btn {
	background-color: var(--accent-color);
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid var(--bg-color-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease;
	font-weight: 500;
	min-width: 100px;

	&:hover {
		background-color: white;
	}

	// svg path {
	// 	color: black;
	// 	transition: all 300ms ease;
	// }

	// &:hover svg path {
	// 	color: white;
	// }
}

.btn.light {
	background-color: var(--accent-color-dark);
	color: white;
	border: 1px solid transparent;

	&:hover {
		background-color: white;
		color: var(--accent-color-dark);
		border: 1px solid var(--accent-color-dark);
	}
}
