@use 'button.scss';
@use 'inputs.scss';
@use 'link.scss';

:root {
	--bg-color: #394347;
	--bg-color-dark: #202425;
	--accent-color: #e46c57;
	--accent-color-light: #e5e8e9;
	--accent-color-dark: #004f5d;
	--color-light: #f1f2f2;
	--color-light2: #8a989b;
	--color-light3: #ffffff;
	--color-neutral: #5b6466;
	--color-delete: #be223f;
}

body {
	font-family: Poppins;
	background: var(--bg-color);
	color: #000;
	font-size: 16px;
}

.heading {
	color: var(--color-light);
	font-weight: 600;
	font-size: 24px;
	margin: 4px 0px;
	background: #fff;
	padding: 6px;
	border-radius: 4px;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 0 20px;
}
