@use 'button.scss';
@use 'inputs.scss';
@use 'link.scss';

:root {
	--bg-color-dark: #242b2d;
	--accent-color-light: #e5e8e9;
	--accent-color-dark: #004f5d;
	--color-light: #f1f2f2;
	--color-light2: #8a989b;
	--color-light3: #ffffff;
	--color-neutral: #5b6466;
	--color-delete: #be223f;

	--color-gray: #525252;
	--bg-color: #161a1d;

	--accent-color: #deddd8;
	--accent-color-alt: #658493;
	--color-darker: #111518;
	--color-dark: #1a1e21;
	--color-darkish: #23292c;

	--color-ok: rgb(121, 198, 139);
}

body {
	font-family: Poppins;
	background: var(--color-dark);
	color: #000;
	font-size: 16px;
}

.heading {
	color: var(--color-light);
	font-weight: 600;
	font-size: 24px;
	margin: 4px 0px;
	background: #fff;
	padding: 6px;
	border-radius: 4px;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 0 20px;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}
