rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /images/{image} {
      allow read: if request.auth != null;
      allow delete: if request.auth != null && isMfecane(request.auth.uid);
    }

    match /images/{userId}/{image} {
      allow read: if request.auth != null;
      allow delete: if request.auth != null && isMfecane(request.auth.uid);
      allow write: if request.auth != null && isMfecane(request.auth.uid) && isProbablyAnImage(request.resource.contentType);
    }
  }
}

function isMfecane(userId) {
  return userId == 'HCTUurg7HRYCLPxg6tnfzwEDQep1' || userId == 'fLD7Q6UUbb8qI1oyReMIzYXtawvO';
}

function isProbablyAnImage(contentType) {
  return contentType == 'image/jpg' || contentType == 'image/jpeg' || contentType == 'image/png' || contentType == 'image/webp';
}
